/*=========================================================================================
                     ::4. MENUS
==========================================================================================*/

/*---------------------------------------------
                     ::4.1 Global Menu Styles
----------------------------------------------*/

/* menu list reset */
.menuReset {
	list-style: none;
    margin: 0;
    padding: 0;
    
    li {
	    float: left;
	    margin: 0;
	    padding: 0;
	    
	    a {
		    cursor: pointer;
		    text-decoration: none;
		    display: block;
	    }
    }
}

/*---------------------------------------------
                     ::4.1 Utility Navigation
----------------------------------------------*/

.audienceUtility {
	
	ul {
		@extend .menuReset;
		//background: url('vcualumni/image/util-navbar.gif') no-repeat 0 0;
		border-radius: 0 0 13px 13px;
		background-color: #F8B800;
		height: 30px;
		position: relative;
		width: auto;
		text-align: right;
		
		li {
			float: none;
			position: relative;
			display: inline-block;
			list-style: none;
			
			a  {
				color: #2c2923;
				font-size: rem(12);
				padding: 4px 25px 5px;
				display: block;
				text-decoration: none;
				
				&:hover {
					text-decoration: none;
					color: #fff;
				}
			}
		}
	}

}

// Social Media

header nav#utility ul.headerSocialMediaNav {
	position: relative;
	float: right;
	width: 100%;
	list-style: none;
	margin:15px 0 10px;
	padding: 0;
	text-align: right;
	
	li {
		float: none;
		position: relative;
		display: inline-block;
		margin:0 0 0 14px;
		font-size: 0;
		line-height: 0;
		padding: 0;
		list-style: none;
		
		a {
			color: #fff;
			font: 0/0 a;
			text-decoration: none;
			
			&:before {
				border-radius: 5px;
				content: '';
				font-family: $icon-font-family;
				display: block;
				height: 34px;
				width: 34px;
				font-size: 19px;
				line-height: 1;
				padding-top: 8px;
				text-align: center;
				text-decoration: none;				
			}
			
			&:hover:before { opacity: 0.8; }
		}
		
		&.facebook a:before { content: '\f09a'; background-color: #3a589b;  }
		
		&.twitter a:before { content: '\f099'; background-color: #359bed;  }
		
		&.linkedIn a:before { content: '\f0e1'; background-color: #007ab9; }
		
		&.youTube a:before { content: '\f167'; background-color: #C4302B;  }
		
		&.instagram a:before { content: '\f16d'; background-color: #4E433C;  }
		
		&.pinterest a:before { content: '\f231'; background-color: #910101; }
	}
}

header nav ul.callToActionNav {
	@extend .menuReset;
	width: 100%;
	position: relative;
	float: right;
	text-align: right;
	margin-bottom: 12px;
	
	li {
		float: none;
		position: relative;
		display: inline-block;
		margin: 0;
		padding: 0;
		
		a {
		    border-radius: 5px;
		    display: block;
		    font-size: 18px;
		    padding: 18px 15px;
		    text-align: center;
		    margin-left: 7px;
		    
		    &:hover { opacity: 0.8; }
		}
		
		&.first a {
			color: #fff;
			background-color: #c22516;
		}
		
		&.last a {
			background-color: #f8b800;
			color: #000;
		}
	}
}


/*---------------------------------------------
                     ::4.2 Main Horizontal Navigation
----------------------------------------------*/
nav.wrapNav ul.mainNav
{
	@extend .menuReset;
	width: 100%;
	position: relative;

		
	li
	{
		position: relative;
		
		//&:hover { > a { color: #B4BA13;} }

		a
		{
			color: #fff;
			text-transform: uppercase;
			position: relative;
			z-index: 100;
			float: left;
			z-index: 200;
			font-family:'Open Sans Condensed';
			font-weight: 700;
			padding:5px 12px;
			margin-left:2px;
			font-size: rem(15);
			line-height: 1;
			letter-spacing: .1em;
			&:hover {
				text-decoration: none;
				background: #47bddb;
			}

		}
				
		&:hover {
			
			a {
				text-decoration: none;
				
			}
			
			ul {
				display: none;
				
				ul {
					display: none;
					
					ul {
						display: none;
					}
				}
			}
		}

	}
	
}

nav.mainNav ul.mainNav {
	margin: 0 auto 1rem;
	padding: 0;
	list-style: none;
	height: 46px;
	width: 100%;
	max-width: 940px;
	position: relative;

	li {
		background-color: #fbd66b;
		border-top: 2px solid #f8b800;
		border-bottom: 2px solid #f8b800;
		position: relative;
		height: 46px;
		float: left;
		text-align: center;

		a {
			background-color: #f8b800;
		    border: 1px solid #f8b800;
		    color: #373737;
		    display: block;
		    font-family: Arial,Helvetica,sans-serif;
		    font-size: 14px;
		    margin: 1px 0 1px 1px;
		    outline: 0 none;
		    padding: 7.5px 22.8px;
		    text-decoration: none;
		}
		
		ul { display: none; }
		
	&:hover {
		background-color: #424141;
		border: 2px solid #777;
		border-bottom: 0;
		margin-left: -1px;
		margin-right: -1px;
		margin-top: 0;
		padding-bottom: 6px;
		
		a {
			color: #fdb813;
			background-color: #424141;
			border: 0;
			margin: 1px 0 1px 1px;
		}
		
		// Drop-down UL
		ul {
			background-color: #424141;
			border: 2px solid #777;
			border-top: 0;
			position: absolute;
			left: -2px;
			margin-top: 2px;
			top: auto;
			width: 173px;
			padding: 3px 0;
			display: block;
			z-index: 1000;
			
			li {
				padding: 2px 2px 2px 16px;
				float: none;
				font-size: 14px;
				height: auto;
				line-height: 18px;
				margin: 0;
				text-align: left;
				border: 0;
				list-style: none;
				margin: 0px 3px;
				width: 163px;
				background: transparent;
				
				a {
					background-color: transparent;
					margin-left: 2px;
					padding: 0.2em;
					color: #fff;
					border: 0;
					display: inline-block;
				}
				
				&:hover {
					background-color: #666565;
					padding-bottom: 2px;
					padding-left: 8px;
					
					a { 
						display: inline-block;
						border: 0;
					}
				}
				
				&:hover:before {
					content: '\f101';
					font-family: $icon-font-family;
					display: inline-block;
					color: #dd9d02;
					position: relative;
					left: -2px;
				}
			}
		}
	}
	
	&:first-child { 
		border-left:2px solid #f8b800;
		
		&:hover {
			padding-right: 2px;
			border-color: #777;
		}
	}
	
	&.menuItem8.parent ul {
		left: auto;
		right: -2px;
	}
	
	&:last-child { 
		
		border-right:2px solid #f8b800;
		
		a { margin-right: 1px; }
		
		&:hover {
			border-right: 2px solid #777;
			ul {
				left: auto;
				right: -2px;
			}
		}
	
	}	

	}
}


/*---------------------------------------------
                     ::4.3 Breadcrumb Navigation
----------------------------------------------*/


.wrapContent nav.breadcrumbs ul {
	@extend .menuReset;
	display: inline-block;
	float: left;
	
	
	li {
		display: inline-block;
		position: relative;
		list-style: none;
		margin: 0;
		padding: 0;
		
		a {
			font-family: $alt-body-font;
			font-size: rem(12);
			font-weight:900;
			line-height: rem(11);
			letter-spacing:.12em;
			text-transform:uppercase;
			color: #000;
			display: none;

			&.selected {
				display: block !important;
				color:#47bddb;
				
				&:hover {
					color: $link-color;
					cursor: text;
				}
				
				
				&:before {
					content: '/';
					margin:0 2px;
					color:#000;
				}

				
			}
		
		}
					
	}
	
}



nav.breadcrumbs ul.mainNav a, nav.breadcrumbs ul.mainNav .parent.selected ul li a, nav.breadcrumbs ul.mainNav .parent.selected ul li.parent.selected ul li a, nav.breadcrumbs ul.mainNav .parent.selected ul li.parent.selected ul li.parent.selected ul li a, nav.breadcrumbs ul.mainNav .parent.selected ul li.parent.selected ul li.parent.selected ul li.parent.selected ul li a
  		{
  			display: none;
  			float: left;
  		}
  		

		nav.breadcrumbs ul.mainNav a.selected, nav.breadcrumbs ul.mainNav .parent.selected a, nav.breadcrumbs ul.mainNav .parent.selected ul li a.selected, nav.breadcrumbs ul.mainNav .parent.selected ul li .parent.selected ul li a.selected, nav.breadcrumbs ul.mainNav .parent.selected ul li .parent.selected ul li .parent.selected ul li a.selected, nav.breadcrumbs ul.mainNav .home a, nav.breadcrumbs ul.mainNav .parent.selected ul li.parent.selected a, nav.breadcrumbs ul.mainNav .parent.selected ul li.parent.selected ul li.parent.selected a, nav.breadcrumbs ul.mainNav .parent.selected ul li.parent.selected ul li.parent.selected ul li.selected a
			{
				display: inline;
				position: relative;
			}



/*---------------------------------------------
                     ::4.4 Sidebar Navigation
----------------------------------------------*/

aside ul.mainNav {
	@extend .menuReset;
	width: 100%;
	float: left;
	
	li {
		width: 100%;
		float: none;
		
		a {
			color: #000;
			padding: 2px 0;
			font: {
				size: rem(13);
				weight: 400;
				family: $alt-body-font;
				}
			line-height: rem(15.6);
			display: none;
			
			&:hover, &.selected {
				text-decoration: none;
				color: #47bddb;
			}
		} // END 1st anchor
		
		ul {
			@extend .menuReset;
			display: none;
			margin: 0;
			padding: 0;
		}
		
		&.selected {
			
			> ul {
				@extend .menuReset;
				display: block;
				
				li {
				
					border-bottom:1px solid #c6c2ba;
					padding:4px 0;
				
					a {
						display: block;
					}
					
					ul {
						display: none;
					}
					
					&.selected {
										
						ul {
							display: block;
							margin-left: 25px;
							
							li {
								border-bottom: 0;
							}
						}
						
					}  // END 2nd Li.selected
					
				} // END 2nd level Li
				
			} // END 2nd level Ul
			
		}  // END 1st Li.selected
		
	} // END 1st Li
	
} // END 1st level Ul
		
		

/*
aside nav ul.mainNav li.selected a.selected {
	display: block;
	
	& + ul {
		display: block;
		
		> li > a {display: block;}
	}
}
*/


/* Mobile - Nav */

.mobileSubNav + ul.nccUlMenuSub1, .mobileSubNav + ul.nccUlMenuSub1 + ul.nccUlMenuSub2 {display: none;}

.toggleMainNav {
	color: #fff;
	font-size: rem(18);
	font-weight: 700;
	font-family: $alt-body-font;
	&:after {
		content: '\f0c9';
		font-family: $icon-font-family;
		font-size: rem(25);
		line-height: 1;
		position: relative;
		top: 2px;
		font-weight: 300;
		padding-left: 16px;
		display: inline-block;
	}
	
	&.active {
		text-decoration: none;
		
		&:after {content: '\f057';}
	}
}

/*---------------------------------------------
                     ::4.5 Footer Navigation
----------------------------------------------*/

footer nav ul.mainNav {
	@extend .menuReset;
	width: 100%;
	float: left;
	margin-top: rem(15);
	
	@media (max-width: $small-breakpoint) { margin-top: 0; }
	
	li {
		display: none;
		
		&.showInFooter {
			display: block;
			margin-right: rem(32);
			
			@media (max-width: $small-breakpoint) { margin-right: 0; }
			
			a {
				color: $footer-font-color;
				font-size: rem(13);
				font-weight: 700;
				line-height: rem(18);
				text-transform: uppercase;
				
				@media(max-width: 980px) {
					line-height: 1;
				    margin-right: 8px;
				    padding: 0.35em 0.65em;
				    border: 1px solid;
			    }
				
				@media (max-width: $small-breakpoint) { 
					padding: rem(11) 0 rem(15); 
					line-height: rem(18);
					text-align: center;
					border: 0;
					margin-right: 0;
					border-top: 1px solid #fff;
					font-weight: 400;
				}
				
				&:hover {
					text-decoration: underline;
				}
			}
			
			ul {
				@extend .menuReset;
				display: block;
				margin-top: 0;
				
				@media (max-width: $small-breakpoint) { display: none; }
				
				li {
					display: block;
					float: none;
					width: auto;
					
					a {
						padding:2px 0 2px rem(14);
						text-transform: capitalize;
						font-weight: 400;
					}
				}
			}
		}
		&:nth-child(10) { 
			width: percentage(153px/670px);
			
			@media(max-width: 980px) { width: auto; margin-right: 0; ul {display: none;} }
			
			@media (max-width: $small-breakpoint) {
				@include span-columns(12);
			} 
		}
		&:nth-child(11) { 
			width: percentage(210px/670px);
			
			@media(max-width: 980px) { width: auto; margin-right: 0; ul {display: none;} }
			
			@media (max-width: $small-breakpoint) {
				@include span-columns(12);
			}  
		}
		&:nth-child(12) { 
			width: percentage(105px/670px);
			
			@media(max-width: 980px) { width: auto; margin-right: 0; ul {display: none;} }
			
			@media (max-width: $small-breakpoint) {
				@include span-columns(12);
			} 
		}
		&:nth-child(13) {
			margin-right: 0;
			
			@media(max-width: 980px) { width: auto; ul {display: none;} }
			
			@media (max-width: $small-breakpoint) { @include span-columns(12); border-bottom: 1px solid #fff; }
		}
	}

	
}

footer ul.socialIcons {
	float: left;
	margin-top: 0;
}

footer ul.socialIcons li a:before {
	background-color: $body-font-color;
	border: 1px solid #ccc;
}

footer ul.socialIcons li a:hover:before {
	background-color: #ccc;
	color: $body-font-color;
}