/*=========================================================================================
                     ::4. MENUS
==========================================================================================*/

/*---------------------------------------------
                     ::4.1 Global Menu Styles
----------------------------------------------*/

/* menu list reset */
.menuReset {
	list-style: none outside none;
    margin: 0;
    padding: 0;
    
    li {
	    float: left;
	    margin: 0;
	    padding: 0;
	    
	    a {
		    cursor: pointer;
		    text-decoration: none;
		    display: block;
	    }
    }
}

/*---------------------------------------------
                     ::4.1 Utility Navigation
----------------------------------------------*/

/*---------------------------------------------
                     ::4.2 Main Horizontal Navigation
----------------------------------------------*/

.wrapNav ul.mainNav {
	list-style: none;
	padding: 0;
	float: right;
	width: 788px;
	color: #fff;
	margin:0 0 1em;
	position: relative;
	
	li {
		margin: 2px 0px 0px;
		padding: 0;
		list-style: none;
		float: left;
		display: inline-block;
		
		a {
			font-family: $alt-body-font;
			font-size: 13px;
			color: #FFF;
			line-height: 55px;
			padding: 0px 2.25em 0 8px;
			font-weight: 300;
			min-width: 1px;
			text-transform: uppercase;
		}
		
		ul {
			display: none;
		}
	}
	
}

// CTA Button Menu

ul.ctaButtons {
	margin: 0;
	padding: 0;
	display: block;
	list-style: none;
	width: 100%;
	
	li {
		margin: 0;
		padding: 0;
		list-style: none;
		float: none;
		display: block;
		width: 100%;
		
		a {
			display: block;
			width: 325px;
			height: 76px;
			color: #E6E6E6;
			line-height: 76px;
			padding: 0px 10px 0px 91px;
			font-size: 23px;
			font-family: $alt-body-font;
			font-weight: 400;
			text-decoration: none;
		}
		
		&.first a {
			background: url(../image/rt-navbg1.jpg) no-repeat 0 0;
			
			&:hover {
				background: url(../image/rt-navbg1-hover.jpg) no-repeat 0 0;
			}
		}
		
		&.donate a {
			background: url(../image/rt-navbg2.jpg) no-repeat 0 0;
			margin: 7px 0;
			
			&:hover {
				background: url(../image/rt-navbg2-hover.jpg) no-repeat 0 0;
			}
		}
		
		&.last a {
			background: url(../image/rt-navbg3.jpg) no-repeat 0 0;
			
			&:hover {
				background: url(../image/rt-navbg3-hover.jpg) no-repeat 0 0;
			}
		}
	}

}


/*---------------------------------------------
                     ::4.4 Sidebar Navigation
----------------------------------------------*/

.wrapSidebar ul {
	@extend .menuReset;
	width: 100%;
	float: left;

	
	li {
		width: 100%;
		float: none;
		border-top: 1px solid #d4d2d4;
		
		a {
			font: {
				size: rem(14);
				weight: normal;
				family: $alt-body-font;
				}
			padding: rem(14) rem(14) rem(14) rem(28);
			line-height: rem(21);
			border: 0;
			color: $body-font-color;
			
			&:hover, &.selected {
				text-decoration: none;
				color: $link-color;
				border: 0;
			}
			
			&.selected { font-weight: bold; }
			
		} // END 1st anchor
		
		ul {
			@extend .menuReset;
			display: none;
			margin: 0;
			padding: rem(7) rem(14) rem(14) rem(14);
			background-color: #f0f0f0;
			
			li a {
				padding-bottom: rem(7);
				padding-top: rem(7);
				color: $body-font-color;
				background-color: transparent;
				
				&:hover {
					background-color: #e5e5e5;
					color: $link-color;
				}
			}
		}
		
		&.selected {
			
			a {
				background-color: #34AE23;;
				color: #fff;
			}
			
			> ul {
				@extend .menuReset;
				display: block;
				
				li {
								
					a {
						display: block;
					}
					
					ul {
						display: none;
					}
					
					&.selected {
										
						ul {
							display: block;
						
						}
						
					}  // END 2nd Li.selected
					
				} // END 2nd level Li
				
			} // END 2nd level Ul
			
		}  // END 1st Li.selected
		
	} // END 1st Li
	
} // END 1st level Ul


/*---------------------------------------------
                     ::4.5 Footer Navigation
----------------------------------------------*/
