/* @font-face kit by Fonts2u (http://www.fonts2u.com) */ @font-face {
	font-family:"Vegur-Regular";
	src:url(Vegur-R_0_600.eot?) format("eot)","url(Vegur-R_0_600.woff") format("woff)","url(Vegur-R_0_600.ttf") format("truetype)","url(Vegur-R_0_600.svg#Vegur-Regular") format("svg");
	font-weight:400;
	font-style:normal;
}