/*=========================================================================================
                     ::4. MENUS
==========================================================================================*/

/*---------------------------------------------
                     ::4.1 Global Menu Styles
----------------------------------------------*/

/* menu list reset */
.menuReset {
	list-style: none outside none;
    margin: 0;
    padding: 0;
    
    li {
	    float: left;
	    margin: 0;
	    padding: 0;
	    
	    a {
		    cursor: pointer;
		    text-decoration: none;
		    display: block;
	    }
    }
}

/*---------------------------------------------
                     ::4.1 Utility Navigation
----------------------------------------------*/

.wrapHeader .nav.utility {
		
	ul {
		@extend .menuReset;
		background-color: #000;
		border-radius: 15px;
		margin-bottom: 11px;
		margin-top: 11px;
		float: left;
		
		li {
			
			float: left;
			border-right: 1px solid #333;
			
			&:first-child { 
				
				border-radius: 15px 0 0 15px;
				
				&:hover a { border-radius: 15px 0 0 15px; }
			}
			
			&:last-child { 
				
				border-radius: 0 15px 15px 0;
				
				&:hover a { border-radius: 0 15px 15px 0; }
			}
			
			a  {

				line-height: 20px;
				font-size: rem(14);
				color: #fff;
				text-decoration: none;
				padding: 7px 30px;
				
								
				&:hover {
					text-decoration: none;
					background-color: #333;
				}
				
			}
			
			.fa::before {
				display: inline-block;
				font-size: 21px;
				line-height: 1;
			}
		}
	}

}


/*---------------------------------------------
                     ::4.2 Main Horizontal Navigation
----------------------------------------------*/
.wrapMainNav .nav > ul
{
	@extend .menuReset;
	width: 100%;
	position: relative;
	display: block;

		
	> li
	{
		position: relative;
		display: block;
		width: 25%;
		
		//&:hover { > a { color: #B4BA13;} }

		> a
		{
			color: #000000;
		    font-weight: 600;
		    padding: 15px;
		    text-align: center;
		    
			&:hover {
				text-decoration: none;
				background-color: #febe10;
			}

		}
		
		// Li hover
		&:hover {
			
			a {
				text-decoration: none;
				background-color: #febe10;
				
			}
		}
		
	}
	
}


/*---------------------------------------------
                     ::4.3 Sidebar Navigation
----------------------------------------------*/

.wrapSidebar .nav ul {
	@extend .menuReset;
	width: 100%;
	float: left;
	
	li {
		width: 100%;
		float: none;
		
		a {
			border-bottom: 1px solid #ababab;
		    color: #ffffff;
		    display: block;
		    padding: 5px 5px 5px 0;
		    font-size: rem(14);
		    line-height: rem(20);
			
			&:hover, &.selected {
				text-decoration: none;
				background-color: #666666;
				color: #fff;
			}
			
			&:visited { color: #fff; }
		} // END 1st anchor
		
		ul {
			@extend .menuReset;
			display: none;
			margin: 0;
			padding: 0;
		}
		
		&.selected {
			
			> ul {
				@extend .menuReset;
				display: block;
				
				li {
				
					a {
						display: block;
						position: relative;
						
						&:before {
							content: '\f054';
							font-family: $icon-font-family;
							display: inline-block;
							font-size: 10px;
							padding: 0 10px;
							position: relative;
							top: 0;
						}
					}
					
					ul {
						display: none;
					}
					
					&.selected {
										
						ul {
							display: block;
							
							li {
								border-bottom: 0;
							}
						}
						
					}  // END 2nd Li.selected
					
				} // END 2nd level Li
				
			} // END 2nd level Ul
			
		}  // END 1st Li.selected
		
	} // END 1st Li
	
} // END 1st level Ul
		
	

/*---------------------------------------------
                     ::4.5 Footer Navigation
----------------------------------------------*/

.wrapFooter .nav ul.mainNav {
	@extend .menuReset;
	width: 100%;
	float: left;
	margin-top: rem(15);
	
	li {
		display: none;
		
		&.showInFooter {
			display: block;
			margin-right: rem(32);
						
			a {
				color: $footer-font-color;
				font-size: rem(13);
				font-weight: 700;
				line-height: rem(18);
				text-transform: uppercase;
				
				&:hover {
					text-decoration: underline;
				}
			}
			
			ul {
				@extend .menuReset;
				display: block;
				margin-top: 0;
				
				li {
					display: block;
					float: none;
					width: auto;
					
					a {
						padding:2px 0 2px rem(14);
						text-transform: capitalize;
						font-weight: 400;
					}
				}
			}
		}
	}

	
}

.wrapFooter ul.socialIcons {
	float: left;
	margin-top: 0;
}

.wrapFooter ul.socialIcons li a:before {
	background-color: $body-font-color;
	border: 1px solid #ccc;
}

.wrapFooter ul.socialIcons li a:hover:before {
	background-color: #ccc;
	color: $body-font-color;
}


// Multi-Step Giving Form Nav

.wrapContent ul.givingStepsNav {
	margin: 1rem 0 1.25rem;
	padding: 0 20px;
	list-style: none;
	position: relative;
	float: left;
	width: 100%;
	
	li {
		margin: 0;
		list-style: none;
		display: inline-block;
		float: left;
	    padding: 0;
	    line-height: 14px;
	    background-color: transparent !important;
	    
	    a {
		    display: block;
			text-decoration: none;
			color: #999;
			font-size: 14px;
			line-height: 1;
			padding: 10px 20px 10px 12px;
			background-color: transparent;
	    }
	    
	    &.last a {
		    background-color: #555555;
			border-radius: 0 100px 100px 0;
			color: #fff;
	    }
	    
	}
	
	&.stepTwoActive {
		
		li { background-color:  transparent;
		
			&:nth-child(2) a {
				background-color: #555555;
				border-radius: 0 100px 100px 0;
				color: #fff;
			}
			
			&.last a {
			    background-color: transparent;
				border-radius: 0;
				color: #999;
		    }
		}
	}
}