// ------------------------------------------------------------
// :: Breakpoint Variables Used Sitewide
// ------------------------------------------------------------


$mobile-portrait: 360px;

$mobile-tweener: 420px;

$mobile-landscape: 640px; // corresponds with mobile value in shelves grid

$tablet-portrait: 800px; // corresponds with tablet value in shelves grid

$tablet-landscape: 1024px;

$small-desktop: 960px;

$med-desktop: 1200px;

$large-desktop: 1500px; 

$laptop: 1440px;

$ie-fixed-vp: 980px;

//$max-vp         : 1300px;  // max viewport. Syntactically makes for a nicer option
