// ------------------------------------------------------------
// :: Color Variables Used Sitewide
// ------------------------------------------------------------


/* ::Main Elon Palette */
/* ------------------------------------------------------------ */

$elon-maroon: #8a1212;
$elon-gold: #fdb71a;
$accent-orange: #f58220;
$accent-red: #ea3429;
$dark-maroon: #660000;


/* ::Elon Law Palette */
/* ------------------------------------------------------------ */

// In addition to elon-maroon and dark-maroon above
$law-gold: #a39a61;


/* ::Elon Phoenix Athletics Palette */
/* ------------------------------------------------------------ */


/* ::Grey Accents Palette */
/* ------------------------------------------------------------ */

$lightest-grey: #ededed;
$light-grey: #cccacc;
$med-grey: #9f9aa4;
$dark-grey: #535961;
$main-grey: #555;

// Account for different spelling of Grey/Gray
$lightest-gray: $lightest-grey;
$light-gray: $light-grey;
$med-gray: $med-grey;
$dark-gray: $dark-grey;
$main-gray: $main-grey;

// $med-grey was $mid-grey. define old $mid-grey variable as same color as new variable for pre-existing sass includes
$mid-grey: $med-grey;


/* ::Utility Colors */
/* ------------------------------------------------------------ */

$success: #339966;
$error: $accent-red;
$warning: $accent-orange;

$utility-text: $dark-maroon;


/* ::Assign colors to variable roles */
/* ------------------------------------------------------------ */

$body-background-color: white;
$body-font-color: $dark-grey;
$header-color: $dark-grey;
$header-secondary-color: $elon-maroon;

$action: darken($accent-orange, 6%);
$action-respond: $elon-maroon;

$law-action: darken($law-gold, 6%);
$law-action-respond: $elon-maroon;