	/*=========================================================================================
                     ::3. PAGE LAYOUT & STRUCTURE
==========================================================================================*/

body {
	background-color: #fff;
	background-image: none;
	
	&#BodyId {
		background: url("../image/bkg.gif") repeat scroll 0 0 rgba(0, 0, 0, 0);
		}
}


/*---------------------------------------------
                     ::3.1 Responsive Grid
----------------------------------------------*/


$column: 60px;
$gutter: 40px;
$grid-columns: 12;
$max-width: rem(960);
$small-breakpoint: em(767);
$large-breakpoint: em(1024);
$medium-viewport: em(900);



// Box sizing, applying only to container to avoid issues in BBIS/NC admin bar
.container *,
.container *:before,
.container *:after {
 box-sizing: border-box; }
  

.container *::before, .container *::after {
	content:" ";
	display:table;
}


form[action*="pagedesign.aspx"] .container *::before, form[action*="pagedesign.aspx"] .container *::after { display: none; }


/* Admin Fixes to Box Sizing rendering issue */

.bb_mainMenu img {
	box-sizing: content-box;
}


/*---------------------------------------------
                     ::3.2 Layout
----------------------------------------------*/

.container {
	@include outer-container;
	position: relative;
	width: 100%;
	padding-left: 15px;
	padding-right: 15px;
}

.banner, .fullWidthContent, .sidebarImg {
	@include fill-parent;
}

header {
	background-color: #595a5b;
	left: 0;
    position: fixed;
    right: 0;
    transform: translate3d(0px, 0px, 0px);
    z-index: 300;
    min-height: 115px;
    
    @media (max-width: 767px) {
	    
	    min-height: 50px;
	    
	}
	
	.wrapLogo { background-color: #000; }
	
	.logo {
		position: relative;
		background: url(../image/vcu-brand-black.gif) no-repeat 0 0;
		height: 60px;
		
		@media (max-width: 767px) {
			background: url(../image/vcu-brand-mobile.gif) no-repeat 0 0;
			margin: 0 auto;
			width: 140px;
		}
		
		#vcubar-vcu-link, #vcubar-make-it-real {
			@include imageReplacement;
			display: block;
		    height: 48px;
		    color: rgba(0, 0, 0, 0);
		    opacity: 0;
		    //overflow: hidden;
		    position: absolute;
		    //text-indent: -9999px;
		    top: 6px;
		}
		
		#vcubar-vcu-link {
			left: 23px;
			width: 796px;
			
			@media (max-width:767px) {
				left: 0;
				width: 140px;
				position: relative;
				margin: 0 auto;	
			}
		}
		
		#vcubar-make-it-real
		{
			right: 19px;
			width: 106px;
			
			@media (max-width:767px) {
				display: none;
			}
		}
	}
	
	.wrapUtility {
		
		position: relative;
		
		@media (max-width: 767px) {
			
			padding-left: 0;
			padding-right: 0;
		}
	}
	
	.sectionTitle {
		width: auto;
		float: left;
		
		@media (max-width: 767px) {
			width: 75%;
		}
		
		p {
			margin: 0;
			padding: 0;
			
			a {
				font-size: rem(27);
				line-height: rem(20);
				color: #fff;
				margin: 0;
				padding: 15px;
				height: 50px;
				margin: 3px 5px 0 0;
				display: block;
				
				&:hover {
					text-decoration: none;
				}
				
				@media (max-width: 950px) {
					font-size: 2vw;	
				}
				
				@media (max-width: 767px) {
					font-size: rem(22.4);
					padding: 0 15px;
					display: inline-block;
					float: left;
					
				}
			}
		}
	}
	
	nav.utility {
		position: relative;
		float: right;
		width: auto;
		
		@media (max-width: 767px) {
			display: none;
		}
	}
}

.wrapMainNav {
	background-color: #f8b800;
	box-shadow: 0 1px 5px 0 #666666;
	position: relative;
	z-index: 100;
	margin-top: 115px;
	float: left;
	width: 100%;
	min-height: 50px;
	
	@media (max-width:767px) {
		
		nav.container {
			padding-left: 0;
			padding-right: 0;
		}
	}
	
	//@media (max-width: 320px) {
	//	background-color: #dedcdd;
		
	//}
	
}


.wrapContent {
	
	position: relative;
	background-color: #fff;
	z-index: 1;
				
	section {
		width: 66.6667%;
		float: left;
		padding: 20px 10px 2rem 0;
		position: relative;
		overflow: hidden;
		
		@media (max-width:767px) {
			width: 100%;
			clear: both;
			margin-top: 1.25rem;
			padding-right: 0;
		}
		
		&.returnUser {
			width: 66.66667%;
			float: right;
			padding-left: 30px;
			padding-right: 30px;
			margin-bottom: 2rem;
			
			.left {
				width: 50%;
				float: left;
				padding-right: 15px;
				
				@media (max-width: 767px) {
					width: 100%;
					float: none;
					padding-right: 0;
				}
			}
			
			.right {
				width: 50%;
				float: right;
				padding-left: 15px;
				
				@media (max-width: 767px) {
					width: 100%;
					float: none;
					padding-left: 0;
				}
				
				.BBDesignationSearchResult {
					display: none;
					
					&:first-child {display: block; }
				}	
			}
			
			.full {
				width: 100%;
				padding: 0;
				clear: both;
				position: relative;
				float: left;
			}
			
			@media (max-width: 767px) {
				width: 100%;
				float: none;
				clear: both;
				padding-left: 5px;
				padding-right: 5px;
			}
		}
	}
	
	&.oneCol section { 
		width: 100%;
		padding-left: 10px;
		
		@media (max-width: 767px) {
			padding-left: 0;
			padding-bottom: 2rem;
		}
	}
}


// Sidebar
aside {
	width: 33.3333%;
	float: left;
	padding: 0 0 0 20px;
	position: relative;
	
	@media (max-width: 767px) {
		width: 100%;
		padding-left: 0;
		clear: both;
	}
	
	nav {
		background-color: #595a5b;
		color: #fff;
		margin-top: 20px;
		padding: 10px 20px;
		float: left;
		clear: both;
		position: relative;
		width: 100%;
	}

	
	//.wrapSidebarContent { }
	
	&.returnUser {
		float: left;
		width: 33.33333%;
		padding-left: 42px;
		padding-bottom: 2rem;
		
		@media (max-width: 767px) {
			width: 100%;
			float: none;
			padding-left: 0;
			clear: both;
		}
	}
		
}

// Return User Landing

nav.returnUserNav {
	width: 100%;
	clear: both;
	float: left;
	margin-top: .5rem;
}



footer {
    
        background: url(../image/footer-bg.png) no-repeat right bottom / 100% auto;
        font-size: $body-font-size;
        line-height: rem(20);
        color: #fff;
        
        @media (max-width:767px) {
	     
	     	background-color: #5a5a5b;
	     	background-image: none;
	        
	    }
        
        .footerBg {
	        background: none repeat scroll 0 0 rgba(0, 0, 0, 0);
		    border: 1px solid #adadad;
		    height: auto;
		    margin: 20px 5px;
		    display: block;
		    float: left;
		    position: relative;
		    
		    @media (max-width:767px) {
			 
			 	border: 0;
			 	margin: 0;   
			}
        }
        
        .ourMission {
	        width: 36%;
	        float: left;
	        position: relative;
	        padding: 0 15px;
	        
	        @media (max-width:767px) {
		        width: 100%;
		        float: none;
		        display: block;
		    }
        }
        
        .footerLinks {
	        @extend .ourMission;
	        width: 28%;
	        border-left: 1px solid #adadad;
	        border-right: 1px solid #adadad;
	        height: 85%;
	        margin-top: 20px;
	        text-align: center;
	        
	        @media (max-width:767px) {
		        width: 100%;
		        border: 0;
		        height: auto;
		    }
        }
        
        .footerContact {
	        @extend .ourMission;
	        width: 36%;
	        
	        @media (max-width:767px) {
		        width: 100%;
		    }
        }
}



/*---------------------------------------------
                     ::3.3 Flexi Layout
----------------------------------------------*/

/*---------------------------------------------
                     ::3.4 Utility Area
----------------------------------------------*/


/*---------------------------------------------
                     ::3.5 Quick Search
----------------------------------------------*/

/*---------------------------------------------
                     ::3.6 Skip Link
----------------------------------------------*/
p.skip {
height:0;
padding:0;
margin:0;
}
a.skip {
position: absolute;
top: -50em;
}
a.skip:hover,a.skip:active,a.skip:focus {
position: absolute;
left: 50%;
top: 0;
display: block;
background: $content-primary-background-color;
padding: .5em;
text-align: center;
margin: 0 auto 0 -10em;
width: 20em;
}
